
@model ITTWEB_ASPNetCore.ViewModels.ComponentTypeViewModels.EditComponentTypeViewModel



<h2>Edit</h2>

<form asp-controller="ComponentType" asp-action="SaveComponentType" method="post">
    <div class="form-horizontal">
        <h4>@Model.ComponentType.ComponentName</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ComponentType.ComponentName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.ComponentName" class="form-control" />
                <span asp-validation-for="ComponentType.ComponentName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.ComponentInfo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.ComponentInfo" class="form-control" />
                <span asp-validation-for="ComponentType.ComponentInfo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.Location" class="form-control" />
                <span asp-validation-for="ComponentType.Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.Status" class="form-control" />
                <span asp-validation-for="ComponentType.Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.Datasheet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.Datasheet" class="form-control" />
                <span asp-validation-for="ComponentType.Datasheet" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.ImageUrl" class="form-control" />
                <span asp-validation-for="ComponentType.ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.Manufacturer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.Manufacturer" class="form-control" />
                <span asp-validation-for="ComponentType.Manufacturer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.WikiLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.WikiLink" class="form-control" />
                <span asp-validation-for="ComponentType.WikiLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentType.AdminComment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ComponentType.AdminComment" class="form-control" />
                <span asp-validation-for="ComponentType.AdminComment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" asp-for="ComponentType.ComponentTypeId"/>
                <input type="hidden" asp-for="Category.CategoryId" />
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ComponentTypes" asp-route-id="@Model.Category.CategoryId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
