@model ITTWEB_ASPNetCore.ViewModels.CategoryViewModels.CategoryViewModel


<h1>Categories</h1>



@if (Model.Categories.Count == 0)
{
    <p>No Categories</p>
}
else
{
    <div class="list-group">
      @foreach (var category in Model.Categories)
      {
          <a asp-controller="Home" asp-action="ComponentType" class="list-group-item" asp-route-id="@category.CategoryId" asp-route-title="@category.Name">@category.Name</a>
      }
    </div>
}

